
name: Daily Commit

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  daily-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run daily commit script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMITER_NAME: ${{ secrets.COMMITER_NAME }}
          COMMITER_EMAIL: ${{ secrets.COMMITER_EMAIL }}
          OPEN_WEATHER_API_KEY: ${{ secrets.OPEN_WEATHER_API_KEY }}
        run: ./scripts/daily-commit.sh
